<div class="admin_page">

    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab_webinars" data-toggle="tab">Вебинары</a></li>
        <li><a href="#tab_speakers" data-toggle="tab">Спикеры</a></li>
        <li><a href="#tab_users" data-toggle="tab">Участники</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane fade active" id="tab_webinars">
            {% for webinar in webinars %}
                {{ webinar.title }}
            {% endfor %}
        </div>
        <div class="tab-pane fade" id="tab_speakers">
            <div class="table-responsive">
                <div class="table">
                    <div class="table-caption">
                        {% for speaker in speakers %}
                        <div class="table-cell">
                            {{ speaker.fio }}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="tab_users">

        </div>
    </div>

</div>