<div class="admin_page">

    <ul class="nav nav-tabs">
        <li><a href="#tab_webinars" data-toggle="tab">Семинары<button type="button" id="btn_newWebinar" class="btn btn-default btn-lg btnAdd>"><span class="glyphicon glyphicon-plus"></span></button></a></li>
        <li class="active"><a href="#tab_speakers" data-toggle="tab">Спикеры<button id="btn_newSpeaker" type="button" class="btn btn-default btn-lg btnAdd>"><span class="glyphicon glyphicon-plus"></span></button></a></li>
        <li><a href="#tab_users" data-toggle="tab">Участники<button type="button" id="btn_newUser" class="btn btn-default btn-lg btnAdd>"><span class="glyphicon glyphicon-plus"></span></button></a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane fade" id="tab_webinars">
            <table class="table table-stripped table-hover" id="table_webinars">
                <tr class="table-caption">
                    <td class="table-cell">#</td>
                    <td class="table-cell">Заглавие</td>
                    <td class="table-cell">Дата начала</td>
                    <td class="table-cell">Время начала</td>
                    <td class="table-cell">Статус активности</td>
                    <td class="table-cell">Анонс</td>
                    <td class="table-cell">Картинка</td>
                    <td class="table-cell" style="display: none"></td>
                </tr>
            {% for webinar in webinars %}
                <div style="display: none;" id="timer-area"></div>
                <tr class="table-row" id="{{webinar.id}}">
                    <td class="table-cell webinar_tbl_id">
                        <label class="control-label" id="{{ webinar.id }}">{{ webinar.id }}</label>
                    </td>
                    <td class="table-cell webinar_tbl_title">
                        <input readonly class="form-control" value="{{ webinar.title }}"/>
                    </td>
                    <td class="table-cell webinar_tbl_dateBeg">
                            <div class="input-group date datepicker">
                                <input class="form-control" value="{{ webinar.dateBeg }}" disabled/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                    </td>
                    <td class="table-cell webinar_tbl_timeBeg">
                        <div class="form-group">
                            <div class="input-group date timepicker">
                                <input class="form-control" value="{{ webinar.timeBeg }}" disabled/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-time"></span>
                                </span>
                            </div>
                        </div>
                    </td>
                    <td class="table-cell webinar_tbl_registerStatus">
                        <div class="selectContainer">
                            <select disabled name="language" class="form-control">
                                <option value="0" {% if webinar.registerStatus == 0 %} selected {% endif %}>0 - Предстоит</option>
                                <option value="1" {% if webinar.registerStatus == 1 %} selected {% endif %}>1 - В процессе</option>
                                <option value="2" {% if webinar.registerStatus == 2 %} selected {% endif %}>2 - Окончен</option>
                            </select>
                        </div>
                        <!--input class="form-control" value="{{ webinar.registerStatus }}"/-->
                    </td>
                    <td class="table-cell webinar_tbl_description">
                        <textarea readonly class="form-control" rows="4">{{ webinar.description }}</textarea>
                    </td>
                    <td class="table-cell webinar_tbl_picture">
                        <img src="{% if webinar.pic == NULL %}/images/nopicture.png{% else %}/uploads/{{webinar.pic}}{% endif %}" class="no-pic" />
                        <div class="form-group">
                            <div class="input-group">
                                <input id="webinar_picture_upload" type="file" accept="image/*" data-filename-placement="inside">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-circle-arrow-up"></span>
                                </span>
                            </div>
                        </div>
                    </td>
                    <td class="table-cell" style="padding-top: 12px">
                        {% include 'webinars/control_buttons.html' %}
                    </td>
                </tr>
            {% endfor %}
            </table>
        </div>
        <div class="tab-pane fade active" id="tab_speakers">
            <div class="table-responsive">

                <table class="table table-stripped" id="table_speakers">
                    <tr class="table-caption">
                        <td class="table-cell">#</td>
                        <td class="table-cell">Фотография</td>
                        <td class="table-cell">ФИО</td>
                        <td class="table-cell">Организация</td>
                        <td class="table-cell">Должность</td>
                    </tr>
                    {% for speaker in speakers %}
                        <tr class="table-row">
                            <td class="table-cell speakers_tbl_id">
                                <label class="control-label" id="{{ speaker.id }}">{{ speaker.id }}</label>
                            </td>
                            <td class="table-cell speakers_avatar">
                                <img class="upload_avatar_img" id="{{ speaker.pic }}" src="/uploads/{{ speaker.pic }}"/>
                                <input class="upload_avatar" style="width:66%" id="avatar" type="file" accept="image/*"  data-filename-placement="inside">
                            </td>
                            <td class="table-cell speakers_tbl_fio">
                                <input type="text" class="form-control" readonly value="{{ speaker.fio }}"/>
                            </td>
                            <td class="table-cell speakers_tbl_org">
                                <input type="text" class="form-control" readonly value="IT Консалтинг" />
                            </td>
                            <td class="table-cell speakers_tbl_position">
                                <input type="text" class="form-control" readonly value="{{ speaker.position }}"/>
                            </td>
                            <td class="table-cell" style="padding-top: 12px; width:4%;">
                                {% include 'webinars/control_buttons.html' %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="tab-pane fade" id="tab_users">
            <div class="table-responsive">
                <table class="table table-stripped" id="table_users">
                    <tr class="table-caption">
                        <td class="table-cell">#</td>
                        <!--td class="table-cell">Фотография</td-->
                        <td class="table-cell">ФИО</td>
                        <td class="table-cell">Организация</td>
                        <td class="table-cell">Должность</td>
                        <td class="table-cell">E-mail</td>
                        <!--td class="table-cell">Пароль</td-->
                        <td class="table-cell">Коммерческая</td>
                        <td class="table-cell">Бюджетная</td>
                    </tr>
                    {% for reguser in users %}
                    <tr class="table-row">
                        <td class="table-cell users_tbl_id">
                            <label class="control-label" id="{{ reguser.id }}">{{ reguser.id }}</label>
                        </td>
                        <!--td class="table-cell users_avatar">
                            <img class="upload_avatar_img" id="{{ reguser.avatar }}" src="/uploads/{{ reguser.avatar }}"/>
                            <input class="upload_avatar" style="width:66%" id="user_avatar" type="file" accept="image/*"  data-filename-placement="inside">
                        </td-->
                        <td class="table-cell users_tbl_fio">
                            <input type="text" class="form-control" readonly value="{{ reguser.fio }}"/>
                        </td>
                        <td class="table-cell users_tbl_org">
                            <input type="text" class="form-control" readonly value="{{ reguser.work }}" />
                        </td>
                        <td class="table-cell users_tbl_position">
                            <input type="text" class="form-control" readonly value="{{ reguser.position }}"/>
                        </td>
                        <td class="table-cell users_tbl_email">
                            <input type="text" class="form-control" readonly value="{{ reguser.email }}"/>
                        </td>
                        <!--td class="table-cell users_tbl_password">
                            <input type="text" class="form-control" readonly value="{{ reguser.password }}"/>
                        </td-->
                        <td class="table-cell users_tbl_commercial">
                            <!--input type="text" class="form-control" readonly value="{{ reguser.onCommercial }}"/-->
                            <div class="selectContainer">
                                <select disabled name="onCommercial" class="form-control">
                                    <option value="0" {% if reguser.onCommercial == 0 %} selected {% endif %}>Нет</option>
                                    <option value="1" {% if reguser.onCommercial == 1 %} selected {% endif %}>Да</option>
                                </select>
                            </div>
                        </td>
                        <td class="table-cell users_tbl_budget">
                            <!--input type="text" class="form-control" readonly value="{{ reguser.onBudget }}"/-->
                            <div class="selectContainer">
                                <select disabled name="onBudget" class="form-control">
                                    <option value="0" {% if reguser.onBudget == 0 %} selected {% endif %}>Нет</option>
                                    <option value="1" {% if reguser.onBudget == 1 %} selected {% endif %}>Да</option>
                                </select>
                            </div>
                        </td>

                        <td class="table-cell" style="padding-top: 12px; width:4%;">
                            {% include 'webinars/control_buttons.html' %}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>

        </div>
    </div>

</div>