<button title="Сохранить изменения" type="button" class="btn btn-default btnApplyChange" disabled><span class="glyphicon glyphicon-ok"></span></button>
<button title="Отменить изменения" type="button" class="btn btn-default btnCancelChange" disabled><span class="glyphicon glyphicon-remove"></span></button>
<button title="Внести изменения" type="button" class="btn btn-default btnDoChange"><span class="glyphicon glyphicon-pencil"></span></button>
<button title="Удалить запись" type="button" class="btn btn-default btnDeleteRecord"><span class="glyphicon glyphicon-trash"></span></button>