<div class="botlight">
    <div id="foot">

        <div class="flogo spflogo">
            <a href="http://it-pole.com" class="blogo spblogo" target="_blank">
                <img src="/images/it-pole-logo-white.png" alt="" height="89" border="0" vspace="45" width="135">
            </a>
            <div class="copyright">©  IT Полюс,<br>2008 - 2015<br><span>Все права защищены</span><br><br>
                <a href="mailto:info@it-pole.com" style="color:white">info@it-pole.com</a></div>
            <div style="clear: both;"></div>
        </div>
        <div class="spflinks">
            <div class="scol1">
                <h1><a href="http://it-pole.com/solutions/" target="_blank">Решения</a></h1>
            </div>

            <div class="scol1">
                <h1><a href="http://it-pole.com/soft/" target="_blank">Программное обеспечение</a></h1>
            </div>

            <div class="scol1">
                <h1><a href="http://it-pole.com/services/" target="_blank">Услуги</a></h1>
            </div>

            <div class="scol1">
                <h1><a href="http://it-pole.com/about/" target="_blank">О компании</a></h1>
            </div>
        </div>
        <div class="spfcont">
            <div class="botcont"><b>Мурманск</b><br>+7 (8152) 692-703</div>
            <div class="botcont"><b>Санкт-Петербург</b><br>+7 (812) 244-7-133</div>
            <div class="botcont"><b>Хельсинки</b><br>+358452789312</div>
            <div class="botcont">
                <div id="bsocial2">
                    <a href="https://www.facebook.com/ConsultingProjectCentre?pnref=lhc" class="fb" target="_blank"></a>
                    <a href="https://www.linkedin.com/groups?home=&amp;gid=4827742&amp;trk=my_groups-tile-grp" class="in" target="_blank"></a>
                    <a href="#" class="tw" target="_blank"></a>
                    <a href="http://vk.com/it_pole" class="vk" target="_blank"></a>
                </div>
                <div style="clear: both;"></div>
            </div>
        </div>

        <div style="clear: both;"></div>

    </div>
</div>
