    <div class="modal fade" id="form_register">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Регистрация участника</h4>
                </div>
                <div class="modal-body">

                    <label for="email" class="control-label">Email</label>
                    <input class="form-control" id="email" type="email" placeholder="Ваш email, будет использован как логин">

                    <label for="password" class="control-label">Пароль</label>
                    <input class="form-control" id="password" type="password" placeholder="Ваш пароль для доступа к профилю">

                    <label for="fio" class="control-label">ФИО</label>
                    <input class="form-control" id="fio" type="text" placeholder="Ваши фамилия, имя, отчество">

                    <label for="organisation" class="control-label">Организация</label>
                    <input class="form-control" id="organisation" type="text" placeholder="Ваша организация">

                    <label for="position" class="control-label">Должность</label>
                    <input class="form-control" id="position" type="text" placeholder="Ваша должность">

                    <label for="avatar" class="control-label">Ваше фото</label>
                    <input id="avatar" type="file" accept="image/*">

                    <img class="avatar" src="/images/nofoto.png"/>




                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="btnRegisterUser">Зарегистрироваться</button>
                </div>
            </div>
        </div>
    </div>
