    <div class="modal fade" id="form_register">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Регистрация участника</h4>
                </div>
                <div class="modal-body">

                    <label for="email" class="control-label">Email</label>
                    <input class="form-control" id="email" type="email" placeholder="Ваш email, будет использован как логин">

                    <label for="password" class="control-label">Пароль</label>
                    <input class="form-control" id="password" type="password" placeholder="Ваш пароль для доступа к профилю">

                    <label for="organisation" class=""

                    <label for="avatar" class="control-label">Ваше фото</label>
                    <input id="avatar" type="file">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" >Reg!</button>
                </div>
            </div>
        </div>
    </div>
