<div class="first_page_block header_mnu">
    <img class="company_logo" src="/images/it-pole-logo.png"/>

    <div class="header_mnu_buttons">
        <a href="#" class="header_mnu_btn" id="main">Главная</a>
        <a href="#" class="header_mnu_btn" id="speakers">Спикеры</a>
        <a href="#" class="header_mnu_btn" id="schedule">Расписание</a>
        <a href="#" class="header_mnu_btn" id="about">О компании</a>
        <a href="#" class="header_mnu_btn" id="login">Войти</a>
        <a href="#" class="header_mnu_btn" id="news">Новости</a>
    </div>

</div>
