<div class="first_page_block header_mnu animated_show_bg">
    <img class="company_logo animated_resize" src="/images/it-pole-logo_small.png"/>
    <div class="header_mnu_buttons animated_margin">
        <a href="#main" class="header_mnu_btn" id="btn_main">Главная</a>
        <a href="#speakers" class="header_mnu_btn" id="btn_speakers">Спикеры</a>
        <a href="#schedule" class="header_mnu_btn" id="btn_schedule">Расписание</a>
        <a href="#about" class="header_mnu_btn" id="btn_about">О компании</a>
        <a href="#login" class="header_mnu_btn" id="btn_login">Войти</a>
        <a href="#news" class="header_mnu_btn" id="btn_news">Новости</a>
    </div>
</div>
