<div class="first_page_block header_mnu animated_show_bg">
    <a href="/"><img class="company_logo animated_resize" src="/images/cpc-logo-white.png"/></a>
    <div class="header_mnu_buttons animated_margin">
        <a href="#comming_webinar" class="animated_color_font header_mnu_btn" id="btn_main">О семинаре</a>
        <a href="#speakers" class="animated_color_font header_mnu_btn" id="btn_speakers">Спикеры</a>
        <a href="#listeners" class="animated_color_font header_mnu_btn" id="btn_listeners">Участники</a>
        <a href="#" class="animated_color_font header_mnu_btn" id="btn_anons">Контакты</a>
        <a href="#" class="animated_color_font header_mnu_btn" id="btn_register_user">Регистрация</a>
        <!--a href="#login" class="header_mnu_btn" id="btn_login">Войти</a>
        <a href="#news" class="header_mnu_btn" id="btn_news">Новости</a-->
    </div>
</div>
