<div class="schedule_left">
    <div class="table-row">
        <div class="table-cell">
            <span class="time time_sup">
                {{ webinar.timeBegCommercial }}
            </span>
        </div>
        <div class="table-cell schedule_type">
            <span>
                Темы коммерческой секции:
            </span>
        </div>
    </div>
    <div>
        <span class="topic"> <!-- webinar.scheduleCommercial -->
            <ul style="text-align: justify; padding:0; margin-left: 20px;">
                <li style="color: #000000;">НДС-2015: организация учета, подготовка 1С-Отчетности и взаимодействие с налоговыми органами - на практических примерах; </li>
                <li style="color: #000000;">Сервисы 1С для эффективного взаимодействия с контрагентами - сверка счетов фактур, обмен электронными документами 1С:ЭДО, досье 1С:Контрагент; </li>
                <li style="color: #000000;">Отчетность по страховым взносам за 9 месяцев - на что обратить внимание; </li>
                <li style="color: #000000;">Учет рабочего времени, переработок, отгулов, оценочных обязательств и резервов по отпускам в программах 1С; </li>
                <li style="color: #000000;">Лизинг: новые возможности учета в 1С:Бухгалтерии 8; </li>
            </ul>
        </span>
    </div>
</div>
<div class="schedule_right">
    <div class="table-row">
        <div class="table-cell">
            <span class="time time_sup">
                {{ webinar.timeBegBudget }}
            </span>
        </div>
        <div class="table-cell schedule_type">
            <span>
                Темы бюджетной секции:
            </span>
        </div>
    </div>
    <div>
        <span class="topic"> <!-- webinar.scheduleBudget -->
        <ul style="text-align: justify;">
            <li style="color: #000000;">Изменения бюджетного законодательства с 2016 года: коды классификации операций сектора государственного управления (КОСГУ), коды классификации доходов и расходов бюджетов, а также источников финансирования дефицитов бюджетов;</li>
            <li style="color: #000000;">Сервисы 1С для эффективного взаимодействия с контрагентами; </li>
            <li style="color: #000000;">Зарплатные налоги, страховые взносы, пособия и отчетность. Обзор изменений 2016 года; </li>
            <li style="color: #000000;">Сравнительный анализ новых редакций 1С:БГУ 2.0 и 1С:ЗиК государственного учреждения 3.0 с текущими.</li>
        </ul>
        </span>
    </div>
</div>