{# Resources/views/Webinars/webinars.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}

{# видео заднего фона#}
{# {% include 'webinars/background_vide.html' %} #}
{#*****************************************#}

{# верхнее меню#}
    {% include 'webinars/header_mnu.html' %}
{#*****************************************#}

{# Перая страница. Превью вебинара #}
    <div class="first_page">
    {% for webinar in webinars %}
        {% include 'webinars/webinar_title.html' with {'webinar' : webinar } %}

    {% endfor %}
    </div>
{#*****************************************#}
{% endblock %}