{# Resources/views/Webinars/webinars.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    {# Формы регистрации #}
    {% include 'webinars/form_register.html' %}
    {#*****************************************#}

{# Верхнее меню #}
    {% include 'webinars/header_mnu.html' %}
{#*****************************************#}

{# Первая страница #}
    <div class="first_page" id="main">
        {# Видео на фоне #}
        {% include 'webinars/background_vide.html' %}
        {#*****************************************#}

    {% for webinar in webinars %}
        {% include 'webinars/webinar_title.html' with {'webinar' : webinar } %}
    {% endfor %}
    </div>

{#*****************************************#}
{# Вставка с описанием ближайшего вебинара #}
    <div class="comming_webinar_page" id="comming_webinar">
        <div class="animated_show_visible">
        {% for webinar in webinars %}
            {% if webinar.registerStatus == 0 %}
                <div class="webinar_description">
                    <div class="webinar_iscomming_header">
                        <p class="webinar_iscomming">Вебинар скоро начнется!</p>
                        <hr class="hr_fio">
                    </div>
                    {% include 'webinars/comming_webinar.html' with { 'webinar' : webinar} %}
                </div>
            {% elseif webinar.registerStatus == 1 %}
                <div class="webinar_description">
                    <div class="webinar_inprogress_header">
                        <p class="webinar_inprogress">Вебинар уже идет!</p>
                        <hr class="hr_fio">
                    </div>
                    {% include 'webinars/comming_webinar.html' with { 'webinar' : webinar} %}
                </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
{#*****************************************#}
{# Вторая страница #}
    <div class="second_page" id="speakers">
        {% include 'webinars/block_header.html' with {'header' : 'Список докладчиков', 'color' : 'white'} %}
        <div class="speakers_data">
            {% for speaker in speakers %}
                {% include 'webinars/webinar_speakers.html' with {'speaker' : speaker } %}
            {% endfor %}
        </div>
    </div>
{#*****************************************#}

{# Третья страница #}
    <div class="third_page" id="listeners">
        <div class="reg_user_header">
            <p class="registered_users">Зарегистрированные участники</p>
            <hr class="hr_fio">
        </div>
        <div class="users_who_come">
            {% for user in users %}
                {% include 'webinars/reg_users.html' with {'user' : user} %}
            {% endfor %}
        <div>
    </div>
{#*****************************************#}

{% endblock %}