{# Resources/views/Webinars/webinars.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    {# Форма регистрации #}
    {% include 'webinars/form_register.html' %}
    {#*****************************************#}

{# Верхнее меню #}
    {% include 'webinars/header_mnu.html' %}
{#*****************************************#}

{# Первая страница #}
    <div class="first_page" id="main">
        {# Видео на фоне #}
        {% include 'webinars/background_vide.html' %}
        {#*****************************************#}

    {% for webinar in webinars %}
        {% include 'webinars/webinar_title.html' with {'webinar' : webinar } %}
    {% endfor %}
    </div>
{#*****************************************#}

{% include 'webinars/block_header.html' with {'header' : 'Список докладчиков'} %}

{# Вторая страница #}
    <div class="second_page" id="speakers">
        <div class="speakers_data">
            {% for speaker in speakers %}
                {% include 'webinars/webinar_speakers.html' with {'speaker' : speaker } %}
            {% endfor %}
        </div>
    </div>
{#*****************************************#}

{# Третья страница #}
    <div class="third_page">
        <div class="reg_user_header">
            <p class="registered_users">Зарегистрированные участники</p>
            <hr class="hr_fio">
        </div>
        <div class="users_who_come">
            {% for user in users %}
                {% include 'webinars/reg_users.html' with {'user' : user} %}
            {% endfor %}
        <div>
    </div>
{#*****************************************#}


{% endblock %}