<div class="speaker animated_speakers">
    <div class="speaker_data animated_show">
        <span class="speaker_fio animated_speakers">{{ speaker.fio }}</span>
        <!--hr class="hr_fio">
        <span class="speaker_position">{{ speaker.position }}</span-->
    </div>
    <div id="speaker_id_{{ speaker.id }}" alt="{{ speaker.fio }}" class="speaker_foto" style="background: url('/uploads/{{ speaker.pic }}');/* background-position: center; background-size: 100% 100%; background-repeat: no-repeat;*/">
    </div>

</div>

